.main-font {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.centered {
  text-align: center;
}

.logo {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

.playful {
  font-size: 2em;
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.playful-inner {
  top: -9px;
  position: absolute;
}

.hide-initially {
  display: none;
}

.language {
  text-transform: uppercase;
  margin-left: 10px;
}

header {
  position: relative;
}

header .text-end {
  position: absolute;
  right: 0;
}

.my-border {
  border: 3px solid black;
}

.fireworks {
  height:1000px !important
}
